body {
    background-color: aqua;
}

.shadow {
    background-color: black;
}

.card {
    background-color: coral;
 
}

.fizzbuzz .fizz .buzz {
    font-size: x-large;
}

.fizzbuzz {
    color: red;
}

.buzz {
    color: darkgoldenrod;
}

.fizz{
    color: blue;
}

